:root {
  --blue-bg-color: #7ac1d7;
  --green-bg-color: #cbdab7;
  --completed-color: #567e21;

  --darker-accent-color: #1b98e4;
  --lighter-accent-color: #52c7ec;
  --special-accent-color: #9fa6dc;
  --orange-accent-color: #ff861c;
  --line-color: #36556b;

  --priority-high: #ee1c00;
  --priority-normal: #eec200;
  --priority-low: #81b800;

  --text-light: #c3e5f0;
  --text-dark: #09324b;
  --text-dark2: #0c6196;
  --text-overdue: #5a0202;
  --text: var(--_text-light);
}

.taskCard {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 10px;
  background-color: var(--green-bg-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.432);
  transition: transform 0.3s 0s;
}

.removedCard {
  transform: scale(0);
}

.cardCol1,
.cardCol2,
.cardCol3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .cardCol1 {
} */

.cardCol2 {
  padding-top: 2%;
}

.cardCol3 {
  padding-top: 8%;
}

.taskName {
  display: flex;
  align-items: start;
  font-size: 25px;
}

.dueDate {
  display: flex;
  align-items: end;
}

.overdue {
  color: var(--text-overdue);
}

.completed {
  color: var(--completed-color);
}

.taskDoneBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-width: 0px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.432);
  background-color: var(--orange-accent-color);
  color: var(--text-dark);
  font-weight: bold;
  transition: box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: background-color 0.1s ease-out;
}

.taskDoneBtn:is(:hover) {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.432);
}

.taskDoneBtn:is(:active) {
  transform: scale(0.9);
}

.completedBtn {
  background-color: var(--completed-color);
}

.priorityIndicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-width: 10px;
  margin-left: 5px;
  background-color: var(--priority-normal);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.432);
}

.High {
  background-color: var(--priority-high);
}

.Low {
  background-color: var(--priority-low);
}

.editButtonCont {
  display: flex;
  align-items: center;
}

.editButtonCont,
.material-symbols-rounded {
  font-size: 30px;
  cursor: default;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.material-symbols-rounded:hover {
  transform: scale(1.05);
}
