:root {
  --blue-bg-color: #7ac1d7;
  --green-bg-color: #cbdab7;

  --darker-accent-color: #1b98e4;
  --lighter-accent-color: #52c7ec;
  --special-accent-color: #9fa6dc;
  --orange-accent-color: #e46c00;

  --text-light: #c3e5f0;
  --text-dark: #09324b;
  --text: var(--_text-light);
}

body {
  font-family: roboto, -apple-system, BlinkMacSystemFont, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: var(--green-bg-color);
  color: var(--text-dark);
}

.headerlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.mainHeading {
  margin-left: 5px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonstyle1 {
  background-color: var(--lighter-accent-color);
  color: var(--text-dark);
  border-width: 0px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 4px 5px;
}

.buttonstyle1:is(:hover) {
  box-shadow: rgba(0, 0, 0, 0.253) 0px 5px 8px;
}

.buttonstyle1:is(:focus) {
  box-shadow: inset 2px 2px 4px #1781c2; /* inset -5px -5px 6px #1fafff; */
}

.buttonstyle2 {
  margin: 5px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: var(--blue-bg-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-right: 2%;
  width: 15%;
  height: 90vh;
  background-color: var(--blue-bg-color);
  position: relative;
}

.sidebar::after {
  content: "";
  position: absolute;
  height: 80vh;
  width: 1px;
  right: -2px;
  background-color: #36556b;
}

.display {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90vh;
}

.TaskFilterMenu {
  width: 100%;
  height: 10%;
}

.taskDisplay {
  width: 100%;
  height: 90%;
}

.inputOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green-bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 20vh;
  width: 60vw;
  padding: 15px;
  z-index: 7;
  position: absolute;
  font-size: large;
  margin: 15%;
}
