:root {
  --blue-bg-color: #7ac1d7;
  --green-bg-color: #cbdab7;

  --darker-accent-color: #1b98e4;
  --lighter-accent-color: #52c7ec;
  --special-accent-color: #9fa6dc;
  --orange-accent-color: #ff861c;
  --line-color: #36556b;

  --text-light: #c3e5f0;
  --text-dark: #09324b;
  --text-dark2: #0c6196;
  --text: var(--_text-light);
}

body {
  font-family: roboto, -apple-system, BlinkMacSystemFont, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  color: var(--text-dark);
  background-color: var(--blue-bg-color);
}

ul {
  list-style-type: none;
  margin-left: 10px;

  padding: 0;
}

li {
  cursor: default;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 2px;
  max-width: fit-content;
}

li:hover {
  color: var(--text-dark2);
}

label {
  display: inline-block;
  width: min-content;
}

p {
  font-size: smaller;
  margin-left: 5px;
}

legend {
  padding: 7px;
  margin: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: var(--green-bg-color);
}

.material-symbols-outlined {
  padding-right: 5px;
}

.headerlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonstyle1 {
  display: flex;
  align-content: center;
  background-color: var(--orange-accent-color);
  color: var(--text-dark);
  font-size: 20px;
  border-width: 0px;
  border-radius: 2px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.432);
  transition: box-shadow 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

.buttonstyle1:is(:hover) {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.432);
}

.buttonstyle1:is(:active) {
  transform: scale(0.9);
}

.buttonstyle2,
.buttonstyle3 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--green-bg-color);
  color: var(--text-dark);
  font-size: 20px;
  border-width: 0px;
  border-radius: 2px;
  padding: 10px;
  margin: 5px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.buttonstyle2 {
  width: 100%;
  margin-bottom: 10px;
}

.buttonstyle3 {
  font-size: 15px;
}

.buttonstyle2:hover,
.buttonstyle3:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.buttonstyle2:active,
.buttonstyle3:active {
  transform: scale(0.9);
}

.main {
  display: flex;
  flex-direction: row;
  background-color: var(--blue-bg-color);
}

.sidebar {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  flex-grow: 1;
  padding-top: 2%;
  padding-right: 2%;
  position: relative;
}

.sideButtonContainer,
.projectListContainer {
  width: 90%;
  padding-top: 5%;
  padding-right: 2%;
}

.projectHeading {
  position: relative;
  font-size: 1.5em;
  margin-left: 10px;
}

.projectHeading::after {
  content: "";
  position: absolute;
  width: 110%;
  left: -5px;
  height: 1px;
  bottom: -5px;
  background-color: var(--line-color);
}

.sidebar::after {
  content: "";
  position: absolute;
  height: 80vh;
  width: 1px;
  right: -2px;
  background-color: var(--line-color);
}

.display {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90vh;
}

.TaskFilterMenu {
  max-width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.TaskFilterMenu:after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 1px;
  bottom: 5px;
  background-color: var(--line-color);
}

.delete-project {
  scale: (0.5);
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.delete-project:hover {
  transform: scale(1.05);
}

.priorityFilterSelector,
.indicators {
  display: flex;
  flex-direction: row;
  min-width: min-content;
}

.indicators {
  align-items: center;
  margin-left: 30px;
}

.taskDisplay {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-top: 2%;
}

.inputOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green-bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2%;
  z-index: 7;
  position: absolute;
  font-size: large;
  margin-left: 45%;
  margin-top: 10%;
  overflow: hidden;
  border-width: 0px;
}

.topRow {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 15%;
  width: 100%;
  justify-items: center;
}

.closebutton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: default;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.closebutton:hover {
  transform: scale(1.05);
}

.taskForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex-wrap: wrap;
  color: var(--text-dark);
}

.taskForm input[type="text"] {
  background-color: #ffffff;
  border: 1px solid var(--line-color);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  font-size: 14px;
}

.taskForm select {
  background-color: #ffffff;
  border: 1px solid var(--line-color);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  font-size: 14px;
}

.taskForm input[type="date"] {
  background-color: #ffffff;
  border: 1px solid var(--line-color);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  font-size: 14px;
}

.taskForm input[type="textarea"] {
  background-color: #ffffff;
  border: 1px solid var(--line-color);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  font-size: 14px;
  overflow: hidden;
  max-height: 100px;
  resize: none;
  word-break: break-all;
}
